@import "./variables.scss";
@import "./mixin.scss";
@import "./transition.scss";
@import "./element-ui.scss";
@import "./sidebar.scss";

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB,
    Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

// main-container global css
.app-container {
  padding: 20px;
}

@keyframes custom-bounce {
  0% {
    animation-timing-function: ease-out;
    transform: translate3d(0, 0, 0);
  }

  50% {
    animation-timing-function: ease-in;
    transform: translate3d(0, -14px, 0);
  }
}

@keyframes bounce {
  0%,
  7%,
  25%,
  36%,
  45%,
  50% {
    animation-timing-function: ease-out;
    transform: translate3d(0, 0, 0);
  }

  15%,
  16% {
    animation-timing-function: ease-in;
    transform: translate3d(0, -42px, 0);
  }

  30% {
    animation-timing-function: ease-in;
    transform: translate3d(0, -24px, 0);
  }

  41% {
    animation-timing-function: ease-in;
    transform: translate3d(0, -12px, 0);
  }

  47% {
    animation-timing-function: ease-in;
    transform: translate3d(0, -3px, 0);
  }
}
